<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" th:href="@{/front/css/style.css}">
    <link rel="stylesheet" th:href="@{/front/css/product/product.css}" />
    <link rel="stylesheet" th:href="@{/front/css/common/reset.css}" />
    <link rel="stylesheet" th:href="@{/front/css/product/news.css}" />
    <link rel="stylesheet" th:href="@{/front/css/product/top.css}" />
    <script th:src="@{/front/js/product/product.js}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</head>
<body>
<main layout:fragment="content">
    <!-- 상품페이지 - swiper S -->
    <section class="product__top">
        <!-- Swiper -->
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="https://pokemonkorea.co.kr/2025_M8">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/12/2024-12-02_09-35-32-79746-1733099732.png"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    「극장판 포켓몬스터 AG: 뮤와 파동의 용사 루카리오」2025년
                                    1월 개봉 예정
                                    <img
                                            src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                            alt=""
                                    />
                                </h2>
                            </div>
                        </article>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="https://pokemonkorea.co.kr/2025_M8">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/12/2024-12-02_09-35-32-79746-1733099732.png"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    「극장판 포켓몬스터 AG: 뮤와 파동의 용사 루카리오」2025년
                                    1월 개봉 예정
                                    <img
                                            src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                            alt=""
                                    />
                                </h2>
                            </div>
                        </article>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="https://pokemonkorea.co.kr/2025_M8">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/12/2024-12-02_09-35-32-79746-1733099732.png"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    「극장판 포켓몬스터 AG: 뮤와 파동의 용사 루카리오」2025년
                                    1월 개봉 예정
                                    <img
                                            src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                            alt=""
                                    />
                                </h2>
                            </div>
                        </article>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="https://pokemonkorea.co.kr/2025_M8">
                        <article class="product__top__cover">
                            <div class="product__top__album">
                                <img
                                        src="https://data1.pokemonkorea.co.kr/newdata/2024/12/2024-12-02_09-35-32-79746-1733099732.png"
                                        alt=""
                                />
                            </div>
                            <div class="product__top__info">
                                <h2 class="product__top__tit">
                                    「극장판 포켓몬스터 AG: 뮤와 파동의 용사 루카리오」2025년
                                    1월 개봉 예정
                                    <img
                                            src="https://pokemonkorea.co.kr/img/icon/icon_more2_lg.png"
                                            alt=""
                                    />
                                </h2>
                            </div>
                        </article>
                    </a>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>
    <!-- 상품페이지 - swiper E -->

    <!-- 상품페이지 - 새로운 소식 S -->
    <section class="news">
        <div class="news__container">
            <h2 class="news__title">새로운 소식</h2>
            <div class="grid-layout" th:each="productNewsList : ${productNewsList}">
                <a
                        th:href="${productNewsList.pageUrl}"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    th:src="${productNewsList.imageUrl}"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title" th:text="${productNewsList.title}">해피햅삐 잠만보 이모티콘 출시!!</div>
                            <div class="card__sub">
                                <span class="card__sub__date" th:text="${productNewsList.sub_title}">2024년 07월 31일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="https://e.kakao.com/t/happy-happyyy-jammanbo?lang=ko&referer=co_mkt"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/07/2024-07-31_12-01-55-44458-1722394915.png"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">해피햅삐 잠만보 이모티콘 출시!!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2024년 07월 31일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="https://e.kakao.com/t/happy-happyyy-jammanbo?lang=ko&referer=co_mkt"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/07/2024-07-31_12-01-55-44458-1722394915.png"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">해피햅삐 잠만보 이모티콘 출시!!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2024년 07월 31일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="https://e.kakao.com/t/happy-happyyy-jammanbo?lang=ko&referer=co_mkt"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/07/2024-07-31_12-01-55-44458-1722394915.png"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">해피햅삐 잠만보 이모티콘 출시!!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2024년 07월 31일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="https://e.kakao.com/t/happy-happyyy-jammanbo?lang=ko&referer=co_mkt"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/07/2024-07-31_12-01-55-44458-1722394915.png"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">해피햅삐 잠만보 이모티콘 출시!!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2024년 07월 31일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="https://e.kakao.com/t/happy-happyyy-jammanbo?lang=ko&referer=co_mkt"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/07/2024-07-31_12-01-55-44458-1722394915.png"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">해피햅삐 잠만보 이모티콘 출시!!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2024년 07월 31일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="https://e.kakao.com/t/happy-happyyy-jammanbo?lang=ko&referer=co_mkt"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/07/2024-07-31_12-01-55-44458-1722394915.png"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">해피햅삐 잠만보 이모티콘 출시!!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2024년 07월 31일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>

                <a
                        href="https://e.kakao.com/t/happy-happyyy-jammanbo?lang=ko&referer=co_mkt"
                >
                    <article class="card">
                        <div class="card__album">
                            <img
                                    class="card__album__img"
                                    src="https://data1.pokemonkorea.co.kr/newdata/2024/07/2024-07-31_12-01-55-44458-1722394915.png"
                                    alt=""
                            />
                        </div>
                        <div class="card__text">
                            <div class="card__title">해피햅삐 잠만보 이모티콘 출시!!</div>
                            <div class="card__sub">
                                <span class="card__sub__date">2024년 07월 31일</span>
                                <button class="card__sub__button">
                                    <img
                                            class="card__sub__button__img"
                                            src="https://pokemonkorea.co.kr/img/icon/icon_go.png"
                                            alt=""
                                    />
                                </button>
                            </div>
                            <div class="card__sub__line"></div>
                        </div>
                    </article>
                </a>
            </div>
            <a href="https://pokemonkorea.co.kr/news/4">
                <div class="more">
                    <div class="more__text">더보기</div>
                    <div class="more__image">
                        <img src="https://pokemonkorea.co.kr/img/icon/icon_more.png" />
                    </div>
                </div>
            </a>
        </div>
    </section>
    <!-- 상품페이지 - 새로운 소식 E -->

    <!-- 상품페이지 - 상품목록 S -->
    <section class="product">
        <div class="product__container">
            <ul class="product__list" th:each="productGoodsList : ${productGoodsList}">
                <div class="product__card">
                    <a
                            th:href="${productGoodsList.productPageUrl}"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                th:src="${productGoodsList.productImageUrl}"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme" th:text="${productGoodsList.productSubTitle}">식품 및 기타</small>
                            <div class="product__title__text" th:text="${productGoodsList.productTitle}">
                                [성수미술관] 포켓몬 도안
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15453"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-21_11-55-29-63938-1732157729.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">식품 및 기타</small>
                            <div class="product__title__text">[삼립] - 포켓몬 빵</div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15426"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-20_09-59-48-47243-1732064388.jpg"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [서울문화사] 포켓몬_수수께끼 도감
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15425"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-20_09-58-30-18756-1732064310.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [학산문화사] 포켓몬스터 리코와 로드의 모험 2권
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15414"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-58-15-93358-1732010295.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">식품 및 기타</small>
                            <div class="product__title__text">
                                [씨알푸드] 포켓몬 초코크런키바
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15413"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-56-28-85762-1732010188.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">식품 및 기타</small>
                            <div class="product__title__text">
                                [씨알푸드] 포켓몬 초코링 시리얼
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15412"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-51-40-34544-1732009900.jpg"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [은하수미디어] 포켓몬스터 도감 스티커북 가라르지방 포켓몬1
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15411"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-49-35-64695-1732009775.jpg"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [은하수미디어] 포켓몬스터 도감 스티커북 가라르지방 포켓몬2
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15408"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-08-19-12012-1732007299.jpg"
                                alt=""
                        />

                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [예림당] 포켓몬스터 알파벳쓰기 30일 마스터
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15407"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-07-00-90477-1732007220.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [예림당] 포켓몬스터 영단어쓰기 100일 마스터
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15406"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-05-08-61423-1732007108.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <div class="product__title__text">
                                [예림당] 포켓몬스터 한글낱말 100일 마스터
                            </div>
                        </div>
                    </a>
                </div>

                <div class="product__card">
                    <a
                            href="https://pokemonkorea.co.kr/goods/view/15405"
                            target="_self"
                            class="product__card__image"
                    >
                        <img
                                src="https://data1.pokemonkorea.co.kr/newdata/2024/11/2024-11-19_18-03-26-93810-1732007006.png"
                                alt=""
                        />
                        <div class="product__title">
                            <small class="product__title__theme">출판</small>
                            <h3 class="product__title__text">
                                [예림당] 포켓몬스터 한글쓰기 100일 마스터
                            </h3>
                        </div>
                    </a>
                </div>
            </ul>
            <a href="https://pokemonkorea.co.kr/goods/category/">
                <div class="more">
                    <div class="more__text">더보기</div>
                    <div class="more__image">
                        <img src="https://pokemonkorea.co.kr/img/icon/icon_more.png" />
                    </div>
                </div>
            </a>
        </div>
    </section>
    <!-- 상품페이지 - 상품목록 E -->
</main>
</body>
</html>